<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/createAccident}">Добавить происшествие</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Second</a>
            </li>
        </ul>
        <span class="navbar-text" th:text="${user}">
        </span>
    </div>
</nav>